* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color:green;
  }
  
  .input-container{
    width: 1050px;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 20px auto;
    background-color: #fff;
  }
  .input-container label{
      margin-right: 20px;
      font-size: 22px;
      font-weight: bold;
  }
  .sports-container{
      background-color: #fff;
      border-radius: 10px;
      padding: 20px 30px;
      width: 1050px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      
  }
  .sport-container{
      border: 1px solid black;
      text-align: center;
      margin: 10px;
  }
  .sport-container:hover {
    box-shadow: -1px 3px 10px 5px rgba(0,0,0,0.75);
    cursor: pointer;
    border: none;
    transition: all 0.4s ease-in-out;
}
  .sport-image{
      height: 300px;
      width: 220px;
     
      background-size: cover;
  }
  .sport-title, .sport-year{
      margin: 10px;
  }